<h1 class="text-center"><%= @project.title %></h1>


  <%= image_tag(@project.picture_url, class: "float-center") if @project.picture? %>

<p><%= @project.description %></p>

<p><%= number_to_currency(@project.target_value) %></p>
