<nav class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Catarsinho</li>
        <li><%= link_to "Projetos", projects_path %></li>
      </ul>
    </div>
    <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
        <a href="#"><%= current_user.email %></a>
        <ul class="menu vertical">
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
    </ul>
    </div>
</nav>
